{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 16, "knowledge_revision": 32, "git_revision": "05f8d7740a1cb7c99de3220e3c93e5bd674ea91c", "filename": "/home/kavia/workspace/code-generation/authprofilemanager-17277-02f0e3c2/auth_profile_manager/requirements.txt", "hash": "82699f63ded65700a0992ea7ea8fd6ee", "format-version": 4, "code-base-name": "default", "revision_history": [{"32": "05f8d7740a1cb7c99de3220e3c93e5bd674ea91c"}]}